/* ------------------------------------------------------------------ */
/* d. Resume Section
/* ------------------------------------------------------------------ */

#resume {
   background: #fff;
   padding-top: 90px;
   padding-bottom: 72px;
   overflow: hidden;
  

}

#resume a, #resume a:visited  { color: #0762f9;}
#resume a:hover, #resume a:focus { color: #313131; }

#resume h1 {
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
   @include respond(phone){
    font: 16px/24px 'opensans-bold', sans-serif;
   }
}
#resume h1 span {
   border-bottom: 3px solid #0762f9;
   padding-bottom: 6px;
   margin-left: 115%;
   @include respond(phone){
    letter-spacing: 3px;
    margin-left: 95%;
   }
}
#resume h3 {
   font: 25px/30px 'opensans-bold', sans-serif;
   margin-right: 0%;
   margin-left: 50%;
   @include respond(phone){
    text-align: center;
    margin-left: 43%;
   }
}

#resume .header-col { 
  padding-top: 9px; 
  @include respond(phone) {
    padding-top: 0;
    margin-bottom: 48px;
    text-align: center;
  } 
}
#resume .main-col { padding-right: 10%; @include respond(phone) {padding-right: 30px;} }

.education, .work {
   margin-bottom: 48px;
   padding-bottom: 24px;
   border-bottom: 1px solid #E8E8E8;
}
#resume .row {
  width: 96%;
  max-width: 1020px;
  margin: 0 auto;
}
#resume .info {
   font: 16px/24px 'librebaskerville-italic', serif;
   color: #6E7881;
   margin-bottom: 18px;
   margin-top: 9px;
   margin-right: 0%;
   margin-left: 50%;
   @include respond(phone) {
    text-align: center;
    margin-left: 39%;
    margin-right: 0%;
   }
}
#resume .info span {
   margin-right: 5px;
   margin-left: 5px;
}
#resume .date {
   font: 15px/24px 'opensans-regular', sans-serif;
   margin-top: 6px;
}
#resume .presume {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin: 0 auto;
  
  margin: auto;
   margin-left: 50%;
  
}

/*----------------------------------------------*/
/*	Skill Bars
/*----------------------------------------------*/

.bars {
	width: 95%;
	float: left;
	padding: 0;
  text-align: left;
  @include respond(phone){
    width: 140%;
  }
  
}
.bars .skills {
  	margin-top: 36px;
   list-style: none;
}
.bars li {
   position: relative;
  	margin-bottom: 60px;
  	background: #333;
  	height: 42px;
  	border-radius: 0px;
}
.bars li em {
	font: 15px 'opensans-bold', sans-serif;
   color: #313131;
	text-transform: uppercase;
   letter-spacing: 2px;
	font-weight: normal;
   position: relative;
	top: -36px;
}
.bar-expand {
   position: absolute;
   left: 0;
   top: 0;

   margin: 0;
   padding-right: 24px;
  	background: #313131;
   display: inline-block;
  	height: 42px;
   line-height: 42px;
   border-radius: 0px;
}
.row .one         { width: 8.33333%; }
.row .two         { width: 16.66667%; }
.row .three       { width: 25%; }
.row .four        { width: 33.33333%; }
.row .five        { width: 41.66667%; }
.row .six         { width: 50%; }
.row .seven       { width: 58.33333%; }
.row .eight       { width: 66.66667%; }
.row .nine        { width: 75%; }
.row .ten         { width: 83.33333%; }
.row .eleven      { width: 91.66667%; }
.row .twelve      { width: 100%; }
#resume .column, .columns {
  position: relative;
  padding: 0 20px;
  min-height: 1px;
  float: left;
}